.about {
    padding: 2rem 6rem;
    margin: 1rem;
}

.about__header h1 {
    font-size: 2.5rem;
}

.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
    padding: 1rem;
}

.about__content p {
    font-size: 1.5rem;
    margin: 0 auto;
}
