* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

.App {
  text-align: center;
  min-width: 400px;
}

button {
    font-weight: bold;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
}

@media screen and (max-width: 570px) {
    button {
        font-size: 1.25rem;
    }
}
