.current_palette {
    padding: 2rem 6rem;
    margin: 1rem; 
}

.current_palette_colors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 2rem;
}

.current_palette_header h1 {
    font-size: 2.5rem;
}

.current_palette_info h3 {
    font-size: 1.5rem;
}

.current_palette_info_container {
    margin: 1rem;
}

.current_palette_info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.current_palette_info svg {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .current_palette {
        padding: 1rem 2rem;
    }
}
