@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');

:root {
    --font-family: 'Sora', sans-serif;
}

html {

    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
